.link-block--u-ijhqiohbt {grid-row-start: 1; grid-row-end: 1; grid-column-start: 1; grid-column-end: 4;}
.text--u-in99jk2p3 {display: none;}
.div--u-i57jd8k7m {grid-row-start: 1; grid-row-end: 1; grid-column-start: 5; grid-column-end: 7; width: auto;}
.div--u-ikdeti8hp {display: flex; padding: 10px; width: auto;}
.div--u-iw5bkcwzn {display: flex; padding: 10px; width: auto;}
.div--u-i1rs4iwt8 {display: flex; padding: 10px; width: auto;}
.div--u-imvrpl3gl {display: flex; padding: 10px; width: auto;}
.div--u-iurev10oz {grid-row-start: 1; grid-row-end: 1; grid-column-start: 8; grid-column-end: 10;}
.div--u-ise72q4l5 {display: flex; padding: 10px; width: auto;}
.div--u-i66hv06f4 {display: flex; padding: 10px; width: auto;}
.div--u-i6aiq2lqy {display: flex; padding: 10px; width: auto;}
.div--u-ich1k1ybw {display: flex; padding: 10px; width: auto;}
.div--u-im5pwixoi {grid-row-start: 1; grid-row-end: 1; grid-column-start: 11; grid-column-end: 13;}
.div--u-imz59490y {display: flex; padding: 10px; width: auto;}
.div--u-ipaefhjuf {display: flex; padding: 10px; width: auto;}
.div--u-i414vd19b {display: none;}
.div--u-i6yp72t8v {display: flex; padding: 10px; width: auto;}
.text--u-irgvshozk {margin-left: auto;}
.div--u-i07nshry3 {grid-row-start: 1; grid-row-end: 1; grid-column-start: 4; grid-column-end: 5; z-index: 100;}
.div--u-isg9jbjgg {display: flex; padding: 10px; width: auto;}
.text--u-i0e3udu4e {padding-left: 0.8rem; padding-right: 0.8rem;}
.div--u-imch9dx76 {display: flex; padding: 10px; width: auto;}
.div--u-i0zgbtaj4 {position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background-color: rgba(191, 191, 191, 0.94); z-index: -1;}
@media (max-width: 991px) {.link-block--u-ijhqiohbt {display: none;}}
@media (max-width: 991px) {.div--u-i57jd8k7m {grid-column-start: 1; grid-column-end: 3;}}
@media (max-width: 991px) {.div--u-iurev10oz {grid-column-start: 6; grid-column-end: 8;}}
@media (max-width: 991px) {.div--u-im5pwixoi {grid-column-start: 10; justify-self: end;}}
@media (max-width: 991px) {.div--u-iwockj6zz {display: none;}}
@media (max-width: 991px) {.div--u-i414vd19b {display: block;}}
@media (max-width: 991px) {.text--u-irgvshozk {margin-left: 0px; position: absolute;}}
@media (max-width: 991px) {.div--u-i07nshry3 {max-width: 17rem;}}
@media (max-width: 479px) {.link-block--u-ijhqiohbt {display: block; grid-column-start: 2; grid-column-end: 5; grid-row-start: 2; grid-row-end: 3; max-width: 16.3rem; justify-self: end; align-self: start; margin-top: 2.6rem;}}
@media (max-width: 479px) {.text--u-in99jk2p3 {display: inline-flex;}}
@media (max-width: 479px) {.div--u-iurev10oz {grid-row-start: 2; grid-row-end: 3; grid-column-start: 1; grid-column-end: 3;}}
@media (max-width: 479px) {.div--u-im5pwixoi {grid-column-end: 5; grid-column-start: 3; margin-right: 1rem;}}
@media (max-width: 479px) {.link--u-ic2np9ql9 {display: inline-block;}}
@media (max-width: 479px) {.text--u-irgvshozk {display: none;}}
