.div--u-i359b5odf {grid-row-start: 1; grid-row-end: 1; grid-column-start: 7; grid-column-end: 10;}
.div--u-iwbfxkuyl {grid-row-start: 1; grid-row-end: 1; grid-column-start: 11; grid-column-end: 13;}
.link--u-il36vgj8l {width: 15rem;}
.div--u-i9tcrpcak {grid-row-start: 1; grid-row-end: 1; grid-column-start: 1; grid-column-end: 5;}
.div--u-im8dvg5i7 {display: flex; padding: 10px; width: auto;}
.div--u-imdee2cw3 {display: flex; padding: 10px; width: auto;}
@media (max-width: 991px) {.div--u-i359b5odf {grid-column-end: 10; grid-column-start: 6;}}
@media (max-width: 991px) {.div--u-iwbfxkuyl {grid-column-start: 10;}}
@media (max-width: 479px) {.div--u-i359b5odf {grid-column-start: 1; grid-column-end: 5; grid-row-end: 2;}}
@media (max-width: 479px) {.div--u-iwbfxkuyl {grid-column-start: 1; grid-column-end: 5; grid-row-start: 3; grid-row-end: 4;}}
@media (max-width: 479px) {.div--u-i9tcrpcak {grid-row-start: 2; grid-row-end: 3;}}
@media (max-width: 479px) {.link--u-il36vgj8l {text-align: center;}}
@media (min-width: 1920px) {.link--u-il36vgj8l {width: 19rem;}}
