.link-block--u-ikh3uiiln {grid-row-start: 1; grid-row-end: 1; grid-column-start: 1; grid-column-end: 4;}
.text--u-iswaxd2g5 {display: none;}
.div--u-iszorjff3 {grid-row-start: 1; grid-row-end: 1; grid-column-start: 5; grid-column-end: 7; width: auto;}
.div--u-ihyyddemg {display: flex; padding: 10px; width: auto;}
.div--u-iv1g01mv2 {display: flex; padding: 10px; width: auto;}
.div--u-ikb9ccc3e {display: flex; padding: 10px; width: auto;}
.div--u-iega9jqr7 {display: flex; padding: 10px; width: auto;}
.div--u-i2qdmnv1l {grid-row-start: 1; grid-row-end: 1; grid-column-start: 8; grid-column-end: 10;}
.div--u-ivpos26cr {display: flex; padding: 10px; width: auto;}
.div--u-ie3snfqa8 {display: flex; padding: 10px; width: auto;}
.div--u-iq5qwffdj {display: flex; padding: 10px; width: auto;}
.div--u-i5risj7i2 {display: flex; padding: 10px; width: auto;}
.div--u-isylh7f4z {grid-row-start: 1; grid-row-end: 1; grid-column-start: 11; grid-column-end: 13;}
.div--u-i5p0605zl {display: flex; padding: 10px; width: auto;}
.div--u-ia3aeqmsx {display: flex; padding: 10px; width: auto;}
.div--u-i1uuhfvm5 {display: none;}
.text--u-izc2fkzzg {margin-left: auto;}
.div--u-izm5f1vzt {grid-row-start: 1; grid-row-end: 1; grid-column-start: 4; grid-column-end: 5; z-index: 100;}
.div--u-ijrkyfhdt {display: flex; padding: 10px; width: auto;}
.div--u-ixj28ussm {display: flex; padding: 10px; width: auto;}
.div--u-id66x3cou {position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background-color: rgba(191, 191, 191, 0.94); z-index: -1;}
.text--u-is34ndc95 {padding-left: 0.8rem; padding-right: 0.8rem;}
.div--u-iwy2yqvb9 {display: flex; padding: 10px; width: auto;}
.text--u-i53qom18v {display: none;}
@media (max-width: 991px) {.link-block--u-ikh3uiiln {display: none;}}
@media (max-width: 991px) {.div--u-iszorjff3 {grid-column-start: 1; grid-column-end: 3;}}
@media (max-width: 991px) {.div--u-i2qdmnv1l {grid-column-start: 6; grid-column-end: 8;}}
@media (max-width: 991px) {.div--u-isylh7f4z {grid-column-start: 10; justify-self: end;}}
@media (max-width: 991px) {.div--u-ihobl8x87 {display: none;}}
@media (max-width: 991px) {.div--u-i1uuhfvm5 {display: block;}}
@media (max-width: 991px) {.text--u-izc2fkzzg {margin-left: 0px; position: absolute;}}
@media (max-width: 991px) {.div--u-izm5f1vzt {max-width: 17rem;}}
@media (max-width: 991px) {.div--u-iwy2yqvb9 {display: none;}}
@media (max-width: 991px) {.text--u-i53qom18v {display: inline-flex;}}
@media (max-width: 479px) {.link-block--u-ikh3uiiln {display: block; grid-column-start: 2; grid-column-end: 5; grid-row-start: 2; grid-row-end: 3; max-width: 16.3rem; justify-self: end; align-self: start; margin-top: 2.6rem;}}
@media (max-width: 479px) {.text--u-iswaxd2g5 {display: inline-flex;}}
@media (max-width: 479px) {.div--u-i2qdmnv1l {grid-row-start: 2; grid-row-end: 3; grid-column-start: 1; grid-column-end: 3;}}
@media (max-width: 479px) {.div--u-isylh7f4z {grid-column-end: 5; grid-column-start: 3; margin-right: 1rem;}}
@media (max-width: 479px) {.text--u-izc2fkzzg {display: none;}}
